@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");
body {
  padding-top: 0px;
  align-items: center;
  background-color: #312e2b;
  font-family: "Quicksand", sans-serif;
}
.nav {
  width: 100%;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #494a49;
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: solid;
  color: #ffffff;
  line-height: 65px;
  font-size: 1.4rem;
}

.nav div.main_list ul li a:hover {
  color: #7a7a7a;
  font-size: 28px;
  transition: 500ms;
}
#board {
  padding: 10px;
  max-width: 500px;
  min-width: 300px;
}

#secondWindow {
  max-width: 800px;
  margin: 10px;
  min-height: 370px;
}

#moveTable {
  width: 100%;
  max-height: 250px;
  overflow: auto;
}

#controls {
  position: absolute;
  bottom: 0;
}
.sidC {
  display: flex;
  height: 100vh;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  justify-content: center;
  background-color: rgb(33, 32, 30);
}

.sideCon {
  background-color: rgb(33, 32, 30);
  flex: 1;
  display: flex;
  justify-content: center;
}

.restart,
.Exist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.restart {
  margin-top: 10px; /* adjust to your desired spacing */
}
.restart button {
  background-color: rgb(33, 32, 30);
  color: #fff;
  border-radius: 2px;
  box-shadow: none;
}
.restart button:hover {
  transform: scale(1.5);
  transition: 200ms;
}
.Exist {
  margin-bottom: 10px; /* adjust to your desired spacing */
}
.Exist button {
  background-color: rgb(33, 32, 30);
  color: #fff;
  border-radius: 2px;
  box-shadow: none;
}
.Exist button:hover {
  transform: scale(1.5);
  transition: 200ms;
}
.sideCon h4 {
  color: aliceblue;
}
.dmoves {
  background-color: azure;
  max-width: 500px;
  height: 50%;
  border-radius: 3px;
  /* grid-column: 1 / span 2; Span the entire width of the grid */
  padding: 10px;
}

.grid {
  display: flex; /* Change to flex display */
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: center; /* Adjust alignment as needed */
  gap: 3px;
}

.restart,
.Exist {
  padding: 5px;
}
.dmCon {
  /* background-color: azure; */
  color: black;
  border-radius: 3px;

  /* max-width: 100%; */
}

.dmCon {
  background-color: #f2f2f2;
  color: black;
  border-radius: 12px;
  max-height: 50%;
  display: inline;
}
/* Table styling */
#pgn {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
}

#pgn th,
#pgn td {
  border: 0px solid #000000;
  padding: 8px;
  font-size: small;
  text-align: center;
}

#pgn th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Table scrolling */
#tableContainer {
  max-height: 800px; /* Set the maximum height for the container */
  height: 400px;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-left: 100px;
}
/* Fix the position of headers */
#tableContainer thead th {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

#menbtn:hover {
  transform: scale(1.5);
  transition: 500ms;
  color: white;
  border: 0px;
}
