/* Import Fira Code font from Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Fira+Code:200,300,400,500,600,700");

@font-face {
  font-family: "Light";
  src: local("AktivGrotesk"),
    url("./fonts/AktivGrotesk-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("AktivGrotesk"),
    url("./fonts/AktivGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Medium";
  src: local("AktivGrotesk"),
    url("./fonts/AktivGrotesk-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";
  src: local("AktivGrotesk"),
    url("./fonts/AktivGrotesk-Bold.ttf") format("truetype");
}

:root {
  /* Import Fira Code font from Google Fonts */
  font-family: "Regular", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark: #282c34;
  --darker: #17191d;
  --light: #abb2bf;
  --comment: #abb2bfaa;
  --lightComment: #abb2bf10;
  --backgroundComment: #abb2bf11;
  --red: #e06c75;
  --green: #98c379;
  --blue: #61afef;
  --yellow: #e5c07b;
  --orange: #d19a66;
  --purple: #c678dd;
  --cyan: #56b6c2;

  background-color: var(--dark);
  color: var(--light);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

* {
  user-select: none;
}

.Skills {
  font-family: "Fira Code", monospace;
  height: calc(100vh - 12rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#skill1 {
  display: flex;
}
#skill2 {
  display: none;
}
#skill3 {
  display: none;
}

.Terminal {
  flex: 1;
  padding-block: 5rem;
  width: 65rem;
  max-width: 75%;
  display: flex;
  cursor: pointer;
}

.Window {
  flex: 1;
  background-color: #00000044;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #00000022;
}

.Icons {
  height: 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem;
}

.Icon {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.Icons .Icon:nth-child(1) {
  background-color: #be5046;
}

.Icons .Icon:nth-child(2) {
  background-color: #d19a66;
}

.Icons .Icon:nth-child(3) {
  background-color: #7a9f60;
}

.TitleBar {
  height: 3rem;
  color: var(--dark);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.Title {
  /* CENTER ON TITLE BAR */
  color: var(--light);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.Content {
  padding: 1rem;
  color: var(--light);
  font-size: 1rem;
  font-family: "Fira Code", monospace;
}

.Line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Prompt {
  color: var(--light);
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  font-weight: 500;
}

.Command {
  margin-left: 0.5rem;
}

/* SKILLS */

.Showcase {
  display: grid;
  grid-gap: 1rem;
  max-width: 65rem;
  padding: 1rem;
  margin-top: 1rem;
}

.Grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.Grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.Grid-1 {
  grid-template-columns: repeat(2, 1fr);
}

.Skill {
  padding-block: 1.5rem;
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px dashed var(--light);
  min-height: 17.5rem;
}

.Skill-Image {
  height: 10rem;
  margin: 0 0.5rem;
}

.Skill-Name {
  padding-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0.5rem;
}

.Skill-Level {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
}

.Level-Weak {
  color: var(--green);
}

.Level-Strong {
  color: var(--green);
}

.Skill-Date {
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  margin-block: 0.5rem;
}

.Skill-Description {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes caretblink {
  50% {
    opacity: 0;
  }
}
.condition::after {
  content: "|";
  animation: caretblink 1.1s infinite step-start;
}
.condition {
  overflow: hidden;
  height: 1.4rem;
  animation: typing 1.5s steps(40, end);
}
.loading {
  overflow: hidden;
  height: 1.4rem;
  animation: typing 1.5s steps(40, end);
}

@media only screen and (max-width: 768px) {
  .Line,
  .Prompt {
    font-size: 0.75rem;
  }

  .Showcase {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    max-width: 65rem;
    padding: 1rem;
  }

  .Title {
    /* CENTER ON TITLE BAR */
    color: var(--light);
    position: inherit;
    transform: none;
    padding-right: 1rem;
  }

  .Skills {
    min-height: calc(100vh - 8rem);
    height: 100%;
  }
}
