<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="title" content="Druk ChessAi Technology Used">
    <meta name="description"
        content="ChessAi: web development projects, web design, and game creations. Discover the blend of technical skills and creativity at work.">
    <meta name="keywords"
        content="Druk Chess AI, Technology USed, web development, web design, Machine Learning, projects, creativity, technical skills, web applications, webdev, programming, chess,Deep Learning">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Druk Chess">

    <meta property="og:description"
        content="Druk Chess Ai: The next generation ChessAI, Grow as you play. Discover the blend of technical skills and creativity at work.">
    <meta property="og:type" content="website">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <script type="text/javascript" src="{{ url_for('static',filename='bootstrap.js') }}"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"></link>
    <meta property="og:image" content="https://i.imgur.com/ZQ2J9Wb.png">
    <link rel="stylesheet" href="../static/modeling.css">
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../static/libs/modelimg/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modeling</title>
    <link rel="stylesheet" href="../static/style.css">
    <style type="text/css">
        .index-module_type__E-SaG::after {
            content: '|';
            animation: index-module_cursor__PQg0P 1.1s infinite step-start;
        }

        @keyframes index-module_cursor__PQg0P {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>

<body>
    <header>
        <nav class="nav">
            <div class="container">
                <div class="logo">
                    <a href="#"><img src="../static/libs/modelimg/bigLogo.png" alt="" style="height: 80px;"></a>
                </div>
                <div id="mainListDiv" class="main_list">
                    <ul class="navlinks">
                        <li><a href="contact">Contact Us</a></li>
                        <li><a href="modeling">Modeling</a></li>
                        <li><a href="menu">Play</a></li>
                        <li><a href="technology">Technology</a></li>

                      
                    </ul>
                </div>
                <span class="navTrigger">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </div>
        </nav>
    </header>
    <div id="root">
        <div>
            

        </div>
        <div class="Projects">
            <div class="Contact-Line" style="height: auto;">
                <div class="Contact-Line-Circle" style="transform: none;"></div>
            </div>
            <div class="Projects-Header">
                <div class="Projects-Title">
                    <div class="">Modeling&gt;</div>
                </div>
                <div class="Projects-Subtitle" style="opacity: 1;">The Building of DrukChessAI...</div>
            </div>
            <div class="Projects-Section" style="opacity: 1;">
                <div class="Projects-List">
                    <div class="Projects-Right Projects-Section-Title">THE MOTIVATION</div>
                    <div class="Project-Wrapper Card-Left">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(-2.35deg) rotateY(2.1deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/alpha go.jpg"
                                    alt="Alpha Go">
                                <div class="Project-Texts Project-Text-Left">
                                    <div class="Project-Name Name-Short">Alpha Go</div>
                                    <div class="Project-Subtitle">a documentary film directed by Greg Kohs and released
                                        in 2017</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Left">Our project was motivated by the "AlphaGo"
                                documentary,
                                which demonstrated the remarkable potential of artificial intelligence in solving
                                complex problems,
                                particularly in strategic games. Inspired by this achievement, we set out to develop our
                                own
                                machine learning algorithms for building a high-level chess model. We believe that our
                                project
                                has the potential to contribute to the broader field of AI research.</div>
                        </div>
                    </div>
                    <div class="Project-Wrapper Card-Right">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/overview.jpg"
                                    alt="Art Gallery">
                                <div class="Project-Texts Project-Text-Right">
                                    <div class="Project-Name Name-Long">Over View</div>
                                    <div class="Project-Subtitle">The General idea</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Right">The Druk Chess AI project is an
                                implementation of the AlphaZero algorithm for playing the game of chess. The approach
                                involves training a neural network model to predict the best move for a given chess
                                position, using a combination of supervised learning and self-play reinforcement
                                learning. The trained model can then be used to play games against human players or
                                other chess engines.</div>
                        </div>
                    </div>
                    <div class="Project-Wrapper Card-Left">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/database.svg"
                                    alt="database">
                                <div class="Project-Texts Project-Text-Left">
                                    <div class="Project-Name Name-Long">Data Generation</div>
                                    <div class="Project-Subtitle">The Preprocessing</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Left">To train the neural network model, the
                                Druk Chess AI project uses data generated through self-play. The algorithm plays
                                thousands of games against itself and records the moves made by both sides. This
                                generates a large dataset of chess positions and the moves played in those positions,
                                which is used to train the neural network.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Projects-List">
                    <div class="Projects-Left Projects-Section-Title">THE CREATION</div>
                    <div class="Project-Wrapper Card-Right">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/architech.png"
                                    alt="architecture">
                                <div class="Project-Texts Project-Text-Right">
                                    <div class="Project-Name Name-Short">Neural Network</div>
                                    <div class="Project-Subtitle">The architecture of Neural Network</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Right">The neural network used in the Druk CHess AI
                                project has a convolutional neural network (CNN) architecture, with multiple layers of
                                convolutional and fully connected layers. The input to the neural network is a
                                representation of the chess board state, encoded as a tensor of shape (8, 8, 18). The
                                output is a probability distribution over all possible moves, represented as a tensor of
                                shape (8, 8, 73)</div>
                        </div>
                    </div>
                </div>
                <div class="Projects-List">
                    <div class="Projects-Right Projects-Section-Title">THE TRAINING</div>
                    <div class="Project-Wrapper Card-Left">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/loss.png"
                                    alt="Loss Graph">
                                <div class="Project-Texts Project-Text-Left">
                                    <div class="Project-Name Name-Long">Training</div>
                                    <div class="Project-Subtitle">The More The Better ❚█══█❚</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Left">The neural network is trained using a combination
                                of supervised learning and self-play reinforcement learning. In the supervised learning
                                phase, the neural network is trained on a dataset of human-played games to learn basic
                                chess knowledge and strategies. In the self-play reinforcement learning phase, the
                                neural network plays games against itself and improves its policy and value prediction
                                abilities through trial and error.</div>
                        </div>
                    </div>
                </div>
                <div class="Projects-List">
                    <div class="Projects-Left Projects-Section-Title">IMPLEMENTATION</div>
                    <div class="Project-Wrapper Card-Right">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/mcts.png"
                                    alt="monte carlo tree search">
                                <div class="Project-Texts Project-Text-Right">
                                    <div class="Project-Name Name-Long">Monte Carlo Tree Search</div>
                                    <div class="Project-Subtitle">The algorithm to guide model</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Right">To select the best move to play in a given
                                position, the Druk Chess AI algorithm uses Monte Carlo Tree Search (MCTS). MCTS is a
                                search algorithm that builds a game tree by simulating many possible moves and outcomes
                                from a given position. The algorithm uses the neural network to evaluate the strength of
                                each move and selects the move with the highest estimated value.</div>
                        </div>
                    </div>
                </div>
                <div class="Projects-List">
                    <div class="Projects-Right Projects-Section-Title">THE TESTING</div>
                    <div class="Project-Wrapper Card-Left">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/play.png"
                                    alt="Bot hand">
                                <div class="Project-Texts Project-Text-Left">
                                    <div class="Project-Name Name-Long">Evaluation</div>
                                    <div class="Project-Subtitle">Conclusion of the model</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Left">The trained neural network model is evaluated by
                                playing games against human players or other chess engines. The Druk Chess AI project
                                includes code for playing games using the trained model and evaluating its performance.

                                Overall, the chess-alpha-zero project provides an interesting and detailed
                                implementation of the AlphaZero algorithm for playing the game of chess. It combines
                                supervised and self-play reinforcement learning, neural network modeling, and Monte
                                Carlo Tree Search to achieve strong chess-playing performance.</div>
                        </div>
                    </div>
                </div>
                <div class="Projects-List">
                
                    <div class="Project-Wrapper Card-Right">
                        <div class="Project-Card "
                            style="will-change: transform; transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                            <div class="Project-Image" data-tilt>
                                <div class="Image-Gradient"></div><img class="Project-Image" src="../static/libs/modelimg/potential.jpg"
                                    alt="AI picture">
                                <div class="Project-Texts Project-Text-Right">
                                    <div class="Project-Name Name-Long">Conclusion</div>
                                    <div class="Project-Subtitle">The understanding🏆</div>
                                </div>
                            </div>
                            <div class="Project-Description Desc-Right">In conclusion, the Druk Chess AI project
                                demonstrates the exciting potential of machine learning and deep reinforcement learning
                                algorithms in the game of chess. Although the results of the model are promising, there
                                is still significant room for improvement. With access to more powerful hardware, larger
                                datasets, and better search algorithms, the model could be trained more effectively and
                                achieve even better performance. Future research in this area could involve exploring
                                the performance of this model ondifferent chess variants or adapting the model to other
                                strategy games.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="../static/contact.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".Project-Image"), {
            max: 25,
            speed: 400
        });
        VanillaTilt.init(document.querySelector(".Projects-Contact"), {
            max: 25,
            speed: 400,
            "max-glare": 1,
            "glare-prerender": false,
        });
    </script>
    
</body>

</html>