<html lang="en">

<head>

    <meta name="title" content="Druk ChessAi Technology Used">
    <meta name="description"
        content="Ghegi Jimenez's portfolio: web development projects, web design, and game creations. Discover the blend of technical skills and creativity at work.">
    <meta name="keywords"
        content="Druk Chess AI, Technology USed, web development, web design, Machine Learning, projects, creativity, technical skills, web applications, webdev, programming, chess,Deep Learning">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Druk Chess">
    <meta property="og:description"
        content="Druk Chess Ai: The next generation ChessAI, Grow as you play. Discover the blend of technical skills and creativity at work.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://i.imgur.com/ZQ2J9Wb.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </link>
    <link rel="stylesheet" href="{{ url_for('static', filename='tech.css') }}">
    </link>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='libs/modelimg/bigLogo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Technology Used</title>
    <style type="text/css">
        .index-module_type__E-SaG::after {
            content: '|';
            animation: index-module_cursor__PQg0P 1.1s infinite step-start;
        }

        @keyframes index-module_cursor__PQg0P {
            50% {
                opacity: 0;
            }
        }
    </style>
</head>

<body>

    <div id="root">
        <nav class="nav">
            <div class="container">
                <div class="logo">
                    <a href="#"><img src="{{ url_for('static', filename='libs/modelimg/bigLogo.png') }}" alt=""
                            style="height: 80px;"></a>
                </div>
                <div id="mainListDiv" class="main_list">
                    <ul class="navlinks">
                        <li><a href="contact">Contact Us</a></li>
                        <li><a href="modeling">Modeling</a></li>
                        <li><a href="menu">Play</a></li>
                        <li><a href="technology">Technology</a></li>

                    </ul>
                </div>
                <span class="navTrigger">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </div>
        </nav>
        <div>
            <div class="Skills" id="skill1">
                <div class="Terminal" style="transform: none;">
                    <div class="Window">
                        <div class="TitleBar">
                            <div class="Icons">
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                            </div>
                            <div class="Title">Druk Chess Ai</div>
                        </div>
                        <div class="Content">
                            <div class="Line">
                                <div class="Prompt">DrukChessAi:~$</div>
                                <div class="Command" id="Command1" data-value="Technology Used">Technology Used
                                </div>
                            </div>
                            <div class="Showcase Grid-3">
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/deep-Learning.png') }}"
                                            alt="Deep learning" class="Skill-Image">
                                        <div class="Skill-Name">Deep Learning</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[//..............]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Creating the model....</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/flask.png') }}"
                                            alt="Flask" class="Skill-Image">
                                        <div class="Skill-Name">Flask</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[////............]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">For hosting the model....</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/leela.svg') }}"
                                            alt="Leela chess" class="Skill-Image">
                                        <div class="Skill-Name">leela</div>
                                        <div class="Skill-Level Level-Weak">
                                            <pre class="loading">[//////............]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Got the database from there....</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Line">
                                <div class="Command">
                                    <div class="index-module_type__E-SaG">&gt;&gt; page 1/3 (click anywhere to
                                        continue)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Skills" id="skill2">
                <div class="Terminal" style="transform: none;">
                    <div class="Window">
                        <div class="TitleBar">
                            <div class="Icons">
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                            </div>
                            <div class="Title">Druk Chess Ai</div>
                        </div>
                        <div class="Content">
                            <div class="Line">
                                <div class="Prompt">DrukChessAi:~$</div>
                                <div class="Command" id="Command2" data-value="Technology Used">Technology Used
                                </div>
                            </div>
                            <div class="Showcase Grid-3">
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/python.png') }}"
                                            alt="Python" class="Skill-Image">
                                        <div class="Skill-Name">Python</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[/////////.........]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Creating the environment for the model to train..
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/js.png') }}"
                                            alt="JavaScript" class="Skill-Image">
                                        <div class="Skill-Name">JavaScript</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[///////////......]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Creating the chess game....</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/node.png') }}"
                                            alt="NodeJS" class="Skill-Image">
                                        <div class="Skill-Name">NodeJS</div>
                                        <div class="Skill-Level Level-Weak">
                                            <pre class="loading">[/////////////......]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">for building the website....</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Line">
                                <div class="Command">
                                    <div class="index-module_type__E-SaG">&gt;&gt; page 2/3 (click anywhere to
                                        continue)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Skills" id="skill3">
                <div class="Terminal" style="transform: none;">
                    <div class="Window">
                        <div class="TitleBar">
                            <div class="Icons">
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                                <div class="Icon"></div>
                            </div>
                            <div class="Title">Druk Chess Ai</div>
                        </div>
                        <div class="Content">
                            <div class="Line">
                                <div class="Prompt">DrukChessAi:~$</div>
                                <div class="Command" id="Command3" data-value="Technology Used">Technology Used
                                </div>
                            </div>
                            <div class="Showcase Grid-3">
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/Tensorflow.png') }}"
                                            alt="Tensorflow" class="Skill-Image">
                                        <div class="Skill-Name">Tensor Flow</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[//////////////....]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">To boost our cpu for model training....</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/AdobeIllustrator.jpg') }}"
                                            alt="Adobe Illustrator" class="Skill-Image">
                                        <div class="Skill-Name">Adobe Illustrator</div>
                                        <div class="Skill-Level Level-Strong">
                                            <pre class="loading">[///////////////..]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Designing the chess piece and board....</div>
                                        </div>
                                    </div>
                                </div>
                                <div style="transform: none;">
                                    <div class="Skill"><img
                                            src="{{ url_for('static', filename='libs/technologyimg/jupyterNotebook.png') }}"
                                            alt="jupyter Notebook" class="Skill-Image">
                                        <div class="Skill-Name">NodeJS</div>
                                        <div class="Skill-Level Level-Weak">
                                            <pre class="loading">[////////////////]</pre>
                                        </div>
                                        <div class="Skill-Description">
                                            <div class="condition">Preprocessing The data....</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Line">
                                <div class="Command">
                                    <div class="index-module_type__E-SaG">&gt;&gt; page 3/3 (click anywhere to
                                        continue)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript" src="{{ url_for('static',filename='tech.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='bootstrap.js') }}"></script>


</body>

</html>
